h2{
    font-size:larger;
    text-align: center;
}
body{
    background-color: grey;
}
h1{
    font-size: xx-large;
    text-align: center;
}
input{
    align-content: center;
    size: 20px;;
}
button{
    size:80cm;
    align-items: center;
    border-radius: 100px;
    font-size: larger;
    background-color: black;
    color: white;
}
div{
    text-align: center;
    
}
.Guessing{
    margin-top: 60px;
    font-size: large;
}