body{
    background-color: grey;
}
h1{
    text-align: center;
}
.guide{
    text-align:justify;
    font-size: x-large;
    margin: 50px;
    text-wrap:pretty;
    text-align: center;  
}
div{
    text-align: center;

}
button{
    font-size: larger;
    margin-top: 30px;
    border-radius: 30px;
    border-color: black;
}

label{
    font-size: xx-large;
}

input{
    font-size: x-large;
}
#results{
    padding-top: 20px;
    font-size:x-large;
    color:white;
    
}
#weight_guide{
    padding-top: 10px;
    color: black;
    font-size: larger;
}